$color-light-xl: #fff;
$color-gold: #bb945f;
$color-silver: #8e8e8e;
$color-dark-l: #0c0c0e;
$color-dark-xl: #000;

$content-width: 1400px;

$large-width: 1280px;
$medium-width: 1024px;
$small-width: 710px;
$mobile-width: 450px;

$carousel-width-l: 1439px;
$carousel-width-s: 660px;
